* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    html, body {
        width: 100%;
        overflow-x: hidden;
        font-family: "Quicksand", sans-serif;
    }

    
    /* Garante que tudo fique dentro da tela */
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    
}

body {
    /*Logo*/
    .logo {
        font-family: "Quicksand", serif;
        font-optical-sizing: auto;
    }
    .logo, .logofooter {
        font-optical-sizing: auto;
        font-family: "Quicksand", serif;
        font-weight: 500;
        font-style: normal;
        font-variation-settings:
        "slnt" 0;
    }
    /*texto do banner*/
      .banner-text h2, .banner-text p, .banner-text a {
        font-family: "Quicksand", serif;
        font-optical-sizing: auto;
        
        letter-spacing: 0,5px;
        font-style: normal;
        font-variation-settings:
          "slnt" 0;
    }
    /*Titulo e produtos*/
    .collection h2, .collection p, .category p, .category1 p, .textserviços a {
        font-family: "Quicksand", serif;
        font-optical-sizing: auto;
        
        letter-spacing: 0,5px;
        font-style: normal;
        font-variation-settings:
          "slnt" 0;
    }    
    /*footer*/
      .footer-column h3 {
        font-family: "quicksand", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        letter-spacing: 1px;
        
    }
    /*bottom footer*/
      .footer-column p, .footer-column ul li a {
        font-family: "quicksand", serif;
        font-optical-sizing: auto;
        font-weight: 400;
    }
    .país, .country-selector p, .country-selector span, .location p, .mapa-privacidade-container {
        font-family: "quicksand", serif;
        font-optical-sizing: auto;
        font-weight: 500;
    }
}

/*header*/ 

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.icon {
    font-size: 18px;
    position: relative;
    cursor: pointer;
}

/* Ícone de usuário */
.user-icon, .heart-icon {
    width: 20px;
    height: 20px;
}
.bag-icon-container {
    position: relative; /* Torna o contêiner um elemento de referência */
    display: inline-block;
    width: 18px; /* Tamanho do contêiner da bolsa */
    height: 18px;
}

.bag-icon {
    width: 100%; /* O ícone da bolsa ocupa todo o contêiner */
    height: auto;
}

/* Indicador de número na bolsa */
.bag-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: black; /* Fundo do indicador */
    color: white; /* Cor do número */
    font-size: 10px;
    font-weight: bold;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Indicador circular */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.left-section, .right-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-icon {
    font-size: 20px;
    cursor: pointer;
    font-weight: lighter;
    color: #545454;
}

h5{
    font-size: 13px;
    font-weight: lighter;
    color: #333;
    }

.search-icon {
    width: 16px; /* Corrigido de 1px para um valor mais apropriado */
    height: 16px; /* Corrigido de 'weight' para 'height' */
    cursor: pointer;
}

.search{
    display: flex;
    align-items: center;
    gap: 5px;
}

.search input {
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 5px 10px;
    outline: none;
}

.logo h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    line-height: 255%;
    display: flex;
    gap: 10px;
        
    
}

.right-section a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.right-section .icon {
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

.right-section .icon sup {
    position: absolute;
    top: -5px;
    right: -10px;
    font-size: 10px;
    color: white;
    background-color: black;
    border-radius: 50%;
    padding: 2px 5px;
}

/*banner*/ 


.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens na vertical */
    justify-content: center; /* Centraliza os itens na horizontal */
    width: 100%; /* Garante que a largura se ajuste ao container */
    }


.banner-container {
    text-align: center; /* Centraliza o texto */
    position: relative;
    width: 100%;
    height: 600px; /* Ajuste a altura conforme necessário */
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites */
    display: flex;
    align-items: center;
    justify-content: center;
}
    /*texto do banner*/
.banner-text {
    text-align: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    }
 
.banner-text p{
    font-size: 10px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.banner-text h2 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}
.banner-text a {
    text-decoration: underline;
    color: white;
    font-size: 15px;
    font-weight: 500;
    }
    /*texto do banner*/

.image-banner {
        width: 100%; /* Ocupa toda a largura disponível */
        height: 100%; /* Faz a imagem cobrir toda a altura */
        object-fit: cover; /* Mantém a proporção correta sem distorcer */
}

/*categorias*/ 

.selection-section {
    padding: 50px 20px;
}

/* Estilização do título */
.selection-section h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}


/* Estilização das categorias */
.collection {
    padding: 50px 0px;
    width: 100vw;  /* Garante que não haja espaço extra */
    overflow: hidden; /* Esconde qualquer espaço excedente */
}

/* Título */
.collection h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
}

.collection p {
    font-size: 12px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

/* Grade de categorias */
.selection-grid, .selection-grid1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Permite ajuste automático para telas menores */
    max-width: 1200px;
    margin: 0 auto;
}
.selection-grid a {
    text-decoration: none;
    color: #333;
}

/* Estilização das categorias */
.category {
    text-align: center;
    width: 280px;
}

.category img {
    width: 100%;
    height: auto;
}

/* Estilização do texto abaixo das imagens */
.category p {
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    
    
}
.category a {
    display: block; /* Torna o link um bloco */
    width: 100%; /* Faz o link ocupar todo o espaço */
    height: 100%;
}

.category a img {
    width: 100%; /* Faz a imagem ocupar todo o espaço do link */
    height: auto;
    display: block; /* Evita espaços extras em imagens */
}

.product-box {
    position: relative;
    width: 270px; /* Tamanho fixo do quadrado */
    height: 350px; /* Altura proporcional */
    background: linear-gradient(to top, #ffffff, #dbdbda);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.collection .Malas, .collection .Bolsas {
    width: 100vw;  /* Garante que ocupa toda a largura da viewport */
    height: 100%;  /* Mantém a proporção correta */
    object-fit: cover; /* Faz a imagem cobrir a tela sem distorcer */
    display: block; /* Evita espaços em branco extras */
}



/* Ícone de favorito */
.favorite-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
    color: #b8b8b8;
    transition: 0.3s;
}

.favorite-icon:hover {
    color: rgb(0, 0, 0);
}

/* Ajuste das imagens */
.product-box img {
    max-width: 100%;
    height: auto;
}


.product-box-text h4 {
    text-align: left;
    font-family: quicksand;
    font-size: 13px;
    font-weight: 500;
    color: #8d8d8d;
}
.product-box-text p {
    text-align: left;
    font-family: quicksand;
    font-size: 12px;
    font-weight: 500;
    
}

/*botão das categorias*/

.button { 
    display: inline-flex; /* Mantém o botão apenas no tamanho do conteúdo */
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    border: 1px solid #333;
    border-radius: 40px;
    color: #333;
    font-size: 16px;
    font-family: afacad-flux;
    text-align: center;
    margin-top: 30px; /* Dá um espaçamento do grid de produtos */
}

.button:hover {
    border-width: 2px; /* Espessura da borda ao passar o mouse */
    transition-duration: 0,5s; /* Tempo da transição */
}

/* Remove o fundo cinza caso haja um <button> ou <input> dentro */
.button button {
    all: unset; /* Remove todos os estilos padrões do navegador */
    font: inherit;
    cursor: pointer;
    text-align: center;
}





/* Serviços */



/* Estilização das categorias */
.category1 {
    text-align: center;
    width: 100%; /* Mantém o alinhamento responsivo */
    max-width: 400px; /* Define um tamanho máximo */
}

/* Ajuste das imagens */
.category1 img {
    width: 100%; /* Faz a imagem ocupar o espaço da div sem ultrapassar */
    max-width: 400px; /* Limita o tamanho máximo */
    height: auto; /* Mantém a proporção correta */
    display: block; /* Evita espaços extras abaixo da imagem */
    margin: 0 auto; /* Centraliza dentro da div */
}

/* Estilização do texto abaixo das imagens */
.category1 p {
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}

/* Estilização do título */
.textserviços h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: quicksand;
}

/* Estilização da descrição */
.textserviços p {
    text-align: center;
    font-size: 14px;
    font-weight: 450;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #020202;
    font-family: quicksand;
        
}
.textoserviços p {
    text-align: center;
    font-size: 14px;
    font-weight: 0;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #808080;
    line-height: 1.5;
    font-family: quicksand;

}

/* Estilização do link */
.textserviços a {
    font-size: 14px;
    font-weight: 200;
    color: #1a1a1a;
    display: block; /* Garante que fique abaixo do texto */
    text-align: center;
    margin-bottom: 40px;
}

/*Footer*/

.footer {
    background-color: #ffffff;
    padding: 20px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
}

/* Cada coluna do rodapé */
.footer-column, .footer-column1, .footer-column2, .footer-column3 {
    width: 23%;
    min-width: 230px;
}

/* Estilo dos títulos das colunas */
.footer-column h3, .footer-column1 h3,.footer-column4 h3, .footer-column3 h3 {
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-weight:1000;
}


/* Parágrafos e links */
.footer-column p, .footer-column1 p, .footer-column4 p, .footer-column3 p {
    font-size: 12px;
    color: #333;
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-weight: 500;
}

.footer-column a, .footer-column1 a, .footer-column4 a, .footer-column3 a {
    color: rgb(112, 111, 111);
    text-decoration: underline;
    letter-spacing: 1px;
    font-weight: 500;
}


/* Estilização da lista */
.footer-column ul, .footer-column1 ul, .footer-column4 ul, .footer-column3 ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li, .footer-column1 ul li, .footer-column4 ul li, .footer-column3 ul li {
    margin-bottom: 8px;
    font-size: 30px;
}

.footer-column ul li a, .footer-column1 ul li a, .footer-column4 ul li a, .footer-column3 ul li a {
    font-size: 12px;
}

/* Destacar links importantes */
.bold {
    font-weight: bold;
}

/*Bottom Footer*/

.footer-bottom { 
    background-color: #ffffff; /* Cor de fundo suave */
    padding: 50px 50px;
    text-align: center;
    }
/* Estilização Bandeira */
.country-selector {
    display: flex;
    align-items: center; 
    justify-content: left; 
    margin-bottom: 0px;
}

.flag {
    width: 25px;  
    margin-top: 1px;
    
}
.país {
    font-size: 12px;
    text-decoration: underline;
    font-weight: 200;
    margin-top: 1px;
    margin-left: 10px;
}

/* Ajuste para o texto */
.country-selector p {
    font-size: 15px;
    font-weight: 600;
    margin: 15px;
    margin-top: 16px;
    margin-left: 70px;
}

.country-selector span {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}

.footer-bottom-container {
    justify-content: space-between;
    align-items: center;
    margin-top: 10px ;
    margin-bottom: 50px;
}
.footer-bottom a {
    color: black;
    text-decoration: none;
}

.footer-bottom p {
    font-size: 15px;
    color: #333;
    margin-bottom: 15px;
    
}

/* Estilização marca footer */
.logofooter h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    
    
}
/*Mapa e Privacidade*/
.mapa-privacidade-container {
    display: flex;
    justify-content: right; /* Centraliza os itens */
    align-items: center; /* Alinha verticalmente */
    gap: 20px; 
    margin-right: 70px;
    margin-top: -30px;
}

.mapa-privacidade-container ul {
    list-style: none; /* Remove marcadores da lista */
    margin: 0;
    padding: 0;
}

.mapa-privacidade-container a {
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

/*Local*/
.location p{
    font-size: 11px;
    color: #727272;
    font-weight: 200;
    text-align: right;
    margin-right: 10px;
    margin-top: 40px;
    margin-right: 70px;
    margin-bottom: 80px;
}
.hr {
    border: 0;
    height: 20px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 70px;
    color: #b6b6b6;
}

/* Ajuste para telas grandes */
@media (max-width: 1440px) {
    .selection-grid {
        grid-template-columns: repeat(4, 1fr); /* 4 colunas */
    }
    .category {
        width: 220px; 
    }
    .product-box {
        width: 220px;
        height: 280px;
    }
}

/* Ajuste para telas médias */
@media (max-width: 1024px) {
    .header {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .right-section {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    .selection-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    }
    .category {
        width: 190px;
    }
    .product-box {
        width: 190px;
        height: 240px;
    }
}

/* Ajuste para tablets e telas menores */
@media (max-width: 768px) {
    .banner-container {
        height: auto;
        
    }

    .banner-text {
        top: 70%;
        width: 90%;
        text-align: center;
    }

    .banner-text h2 {
        font-size: 18px;
    }
    .selection-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    }
    .category {
        width: 160px;
    }
    .product-box {
        width: 160px;
        height: 220px;
    }
    .footer-container {
        flex-direction: column;
        text-align: center;
}

/* Ajuste para celulares pequenos */
@media (max-width: 480px) {
    .selection-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    }
    .category {
        width: 140px;
    }
    .product-box {
        width: 140px;
        height: 200px;
    }
    .textserviços p, .textserviços a {
        font-size: smaller;
    
    }
}

/* Ajuste para celulares muito pequenos */
@media (max-width: 360px) {
    
    .selection-grid {
        grid-template-columns: 1fr; /* 1 coluna */
    }
    .category {
        width: 120px;
    }
    .product-box {
        width: 120px;
        height: 180px;
    }
}
}
